---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <div class="flex flex-col items-center max-w-none">
      <strong class="text-4xl">3+</strong>
      <p>Years of commercial experience</p>
    </div>
    <div class="flex flex-col items-center max-w-none">
      <strong class="text-4xl">Bachelor's degree</strong>
      <p>At european tech university</p>
    </div>
  </div>
</div>
