---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24 max-w-full ">
  <h2 class="text-center text-slate-500">Technologies i have experience with</h2>
  <div class="flex overflow-hidden gap-8 md:gap-16 group">
    <div class="flex gap-8 md:gap-16 items-center justify-center my-10 animate-loop-scroll group-hover:paused select-none">
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-orange-600" name="simple-icons:html5" />
        <strong>HTML</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-blue-500" name="simple-icons:css3" />
        <strong>CSS</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-blue-500" name="simple-icons:typescript" />
        <strong>Typescript</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-blue-400" name="simple-icons:tailwindcss" />
        <strong>Tailwind</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-blue-400" name="simple-icons:react" />
        <strong>React</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12" name="simple-icons:nextdotjs" />
        <strong>Next.js</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12" name="simple-icons:astro" />
        <strong>Astro</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-green-600" name="simple-icons:nodedotjs" />
        <strong>Node.js</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-orange-500" name="simple-icons:firebase" />
        <strong>Firebase</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 md:p-1 text-[#635BFF]" name="simple-icons:stripe" />
        <strong>Stripe</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-[#E535AB]" name="simple-icons:graphql" />
        <strong>GraphQL</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-[#086DD7]" name="simple-icons:docker" />
        <strong>Docker</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12" name="simple-icons:vercel" />
        <strong>Vercel</strong>
      </div>
    </div>
    <div class="flex gap-8 md:gap-16 items-center justify-center my-10 animate-loop-scroll group-hover:paused" aria-hidden="true">
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-orange-600" name="simple-icons:html5" />
        <strong>HTML</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-blue-500" name="simple-icons:css3" />
        <strong>CSS</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-blue-500" name="simple-icons:typescript" />
        <strong>Typescript</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-blue-400" name="simple-icons:tailwindcss" />
        <strong>Tailwind</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-blue-400" name="simple-icons:react" />
        <strong>React</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12" name="simple-icons:nextdotjs" />
        <strong>Next.js</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12" name="simple-icons:astro" />
        <strong>Astro</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-green-600" name="simple-icons:nodedotjs" />
        <strong>Node.js</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-orange-500" name="simple-icons:firebase" />
        <strong>Firebase</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 md:p-1 text-[#635BFF]" name="simple-icons:stripe" />
        <strong>Stripe</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-[#E535AB]" name="simple-icons:graphql" />
        <strong>GraphQL</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12 text-[#086DD7]" name="simple-icons:docker" />
        <strong>Docker</strong>
      </div>
      <div class="flex flex-col items-center max-w-none">
        <Icon class="size-8 md:size-12" name="simple-icons:vercel" />
        <strong>Vercel</strong>
      </div>
    </div>
  </div>
  
</div>
